/* Form Styles */
#paymentForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.pay_btn{
    align-items: center;
    background: #4979D1;
margin-top: 20px;
    margin-left: 160px;

}

/* End Form Styles */
