html{
    overflow: hidden;

}
:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #428bca;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
	--second_bg: #e1eff2;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  /*fonts */
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  
  .signUp_page {
    display: flex;
    height: 100vh;
    align-items: center;
  }
  .signUp_page .bg-img{
    margin-left: 300px;
  }
  
  .signupForm {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    margin-left: 500px;
    margin-top: 100px;
    background: #fff;
    border-radius: 10px;
  }
  
  .signupForm h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .signupForm p.hint-text {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    transition: all 0.1s ease;
    border: solid 1px #ccc;
    font-size: 16px;
  }
  
  .btn-submit {
    background-color: #0d66d0;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px 30px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* .text-center a {
    color: #0d66d0;
    text-decoration: none; 
  } */
  
  .text-center a:hover {
    text-decoration: underline;
  }
  .bg-img h2{
    font-size: 50px;
    font-weight: bolder;
    color: black;
  }
  .bg-img{
    margin-left: 300px;

  }

  /* dashboard */

  /* sidebar */

  #sidebar{
    position: fixed;
    max-width: 250px;
    width: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    height: 100%;
}
.side-menu{
    padding: 0;
    margin: 0;
    list-style: none;
}
.side-menu li{
    list-style: none;
    padding-bottom: 10px;
}
 .side-menu li:hover{
    background:#ccc;
    border-radius: 20px;
 }
 .side-menu a{
    display: block;
    padding: 10px 50px;
    color: #343a40; /* Sidebar link color */
 }
 